<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">

  <!-- Author Section -->
  <div id="SVGwave1BottomSMShape"
       class="svg-preloader position-relative text-center gradient-overlay-half-info-v1 bg-img-hero overflow-hidden space-top-2 space-top-md-3"
       style="background-image: url(./assets/port1.jpg);">
<!--       style="background-image: url(./assets/img/1920x800/img10.jpg);">-->
    <div class="row justify-content-md-center">
      <div class="col-md-8 col-lg-7 col-xl-5">
        <!-- Info -->
        <div class="mb-4">
          <h1 class="display-4 text-white font-weight-normal mb-3">Luisa Hernández</h1>

          <ul class="list-inline">
            <li class="list-inline-item">
              <a class="text-white-70" href="#">
                <span class="fas fa-map-marker-alt"></span>
                Colombia
              </a>
            </li>
            <li class="list-inline-item">
              <a class="text-white-70" href="mailto:atena13.25@gmail.com">
                <span class="fas fa-globe"></span>
                atena13.25@gmail.com
              </a>
            </li>

            <li class="list-inline-item">
              <a class="text-white-70" href="tel:++573104486600">
                <span class="fas fa-phone"></span>
                310 448 6600
              </a>
            </li>
          </ul>

          <p class="text-white">Profesional en publicidad y mercadeo, diseñadora gráfica y publicitaria.</p>
        </div>
        <!-- End Info -->

        <!-- Avatar -->
        <div class="u-xl-avatar rounded-circle mx-auto">
          <img class="img-fluid rounded-circle" src="./assets/foto.jpg" alt="Image Description">
        </div>
        <!-- End Avatar -->
      </div>
    </div>

    <!-- SVG Background -->
    <figure class="position-absolute right-0 bottom-0 left-0 z-index-n1">
      <img class="js-svg-injector" src="./assets/svg/components/wave-1-bottom-sm.svg" alt="Image Description"
           data-parent="#SVGwave1BottomSMShape">
    </figure>
    <!-- End SVG Background -->
  </div>
  <!-- End Author Section -->


  <!-- Cubeportfolio Section -->
  <div class="container u-cubeportfolio space-2">
    <!-- Filter -->
    <ul id="cubeFilter" class="list-inline cbp-l-filters-alignRight d-sm-flex">
      <li class="list-inline-item cbp-filter-item cbp-filter-item-active u-cubeportfolio__item mr-auto" data-filter="*">
        Mostrar todo
      </li>
      <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".logo">Logos</li>
      <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".banner">Banners</li>
      <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".flyer">Flyers</li>
      <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".maquila">Maquilas</li>
    </ul>
    <!-- End Filter -->

    <!-- Content -->
    <div class="cbp mb-7"
         data-controls="#cubeFilter"
         data-animation="quicksand"
         data-x-gap="16"
         data-y-gap="16"
         data-load-more-selector="#cubeLoadMore"
         data-load-more-action="click"
         data-load-items-amount="10"
         data-layout="grid"
         data-media-queries='[
              {"width": 1500, "cols": 4},
              {"width": 1100, "cols": 4},
              {"width": 800, "cols": 3},
              {"width": 480, "cols": 2},
              {"width": 300, "cols": 1}
            ]'>


      <!-- Item -->
      <div *ngFor="let item of totalItems" class="cbp-item rounded shadow-soft" [ngClass]="item.categoryClass">
        <div class="cbp-caption">
          <a class="cbp-lightbox u-media-viewer" [href]="item.imgBigSrc? item.imgBigSrc : item.imgSrc" [attr.data-title]="item.description">
            <img [src]="item.imgSrc" class="my-class" alt="Image Description">
            <span class="u-media-viewer__container">
                <span class="u-media-viewer__icon">
                  <span class="fas fa-plus u-media-viewer__icon-inner"></span>
                </span>
              </span>
          </a>
        </div>
      </div>
      <!-- End Item -->

    </div>
    <!-- End Content -->

    <!-- Load More Button -->
<!--    <div id="cubeLoadMore" class="text-center">-->
<!--      <a class="cbp-l-loadMore-link link" rel="nofollow">-->
<!--              <span class="cbp-l-loadMore-defaultText">-->
<!--                Load More-->
<!--                <span class="link__icon ml-1">-->
<!--                  <span class="link__icon-inner">&#43;</span>-->
<!--                </span>-->
<!--              </span>-->
<!--        <span class="cbp-l-loadMore-loadingText">Cargando...</span>-->
<!--        <span class="cbp-l-loadMore-noMoreLoading"></span>-->
<!--      </a>-->
<!--    </div>-->
    <!-- End Load More Button -->
  </div>
  <!-- End Cubeportfolio Section -->

  <div class="container space-2">
    <div class="row">
      <div class="col-sm-6 col-lg-2 mb-7 mb-lg-4">
        <div class="u-stats-progress position-relative d-flex align-items-center justify-content-center">
          <!-- Pie Circle -->
          <div class="js-pie text-center"
               data-circles-text-class="u-stats-progress__info"
               data-circles-is-hide-value="true"
               data-circles-value="90"
               data-circles-max-value="100"
               data-circles-bg-color="#f8fafd"
               data-circles-fg-color="#377dff"
               data-circles-fg-stroke-linecap="round"
               data-circles-fg-stroke-miterlimit="30"
               data-circles-radius="80"
               data-circles-stroke-width="8"
               data-circles-additional-text="Retoque Digital "
               data-circles-additional-text-type="prefix"
               data-circles-duration="2000"
               data-circles-scroll-animate="true"
               data-circles-color="#377dff"
               data-circles-font-size="20"
               data-circles-font-weight="500"
               data-circles-secondary-text=""
               data-circles-secondary-color="#77838f"
               data-circles-secondary-font-size="17"
               data-circles-secondary-font-weight="400"
               data-circles-divider-space="10"></div>
          <!-- End Pie Circle -->
        </div>
      </div>

      <div class="col-sm-6 col-lg-2 mb-7 mb-lg-4">
        <div class="u-stats-progress position-relative d-flex align-items-center justify-content-center">
          <!-- Pie Circle -->
          <div class="js-pie text-center"
               data-circles-text-class="u-stats-progress__info"
               data-circles-value="80"
               data-circles-is-hide-value="true"
               data-circles-max-value="100"
               data-circles-bg-color="#f8fafd"
               data-circles-fg-color="#377dff"
               data-circles-fg-stroke-linecap="round"
               data-circles-fg-stroke-miterlimit="10"
               data-circles-radius="80"
               data-circles-stroke-width="8"
               data-circles-additional-text="Edición de Vidéo"
               data-circles-duration="2000"
               data-circles-scroll-animate="true"
               data-circles-color="#377dff"
               data-circles-font-size="20"
               data-circles-font-weight="500"
               data-circles-secondary-text=""
               data-circles-secondary-color="#77838f"
               data-circles-secondary-font-size="17"
               data-circles-secondary-font-weight="400"
               data-circles-divider-space="10"></div>
          <!-- End Pie Circle -->
        </div>
      </div>

      <div class="col-sm-6 col-lg-2 mb-7 mb-lg-4">
        <div class="u-stats-progress position-relative d-flex align-items-center justify-content-center">
          <!-- Pie Circle -->
          <div class="js-pie text-center"
               data-circles-text-class="u-stats-progress__info"
               data-circles-is-hide-value="true"
               data-circles-value="95"
               data-circles-max-value="100"
               data-circles-bg-color="#f8fafd"
               data-circles-fg-color="#377dff"
               data-circles-fg-stroke-linecap="round"
               data-circles-fg-stroke-miterlimit="10"
               data-circles-radius="80"
               data-circles-stroke-width="8"
               data-circles-additional-text="Diseño"
               data-circles-duration="2000"
               data-circles-scroll-animate="true"
               data-circles-color="#377dff"
               data-circles-font-size="20"
               data-circles-font-weight="500"
               data-circles-secondary-text="Diagramación"
               data-circles-secondary-color="#377dff"
               data-circles-secondary-font-size="17"
               data-circles-secondary-font-weight="400"
               data-circles-divider-space="10"></div>
          <!-- End Pie Circle -->
        </div>
      </div>

      <div class="col-sm-6 col-lg-2 mb-7 mb-lg-4">
        <div class="u-stats-progress position-relative d-flex align-items-center justify-content-center">
          <!-- Pie Circle -->
          <div class="js-pie text-center"
               data-circles-text-class="u-stats-progress__info"
               data-circles-is-hide-value="true"
               data-circles-value="70"
               data-circles-max-value="100"
               data-circles-bg-color="#f8fafd"
               data-circles-fg-color="#377dff"
               data-circles-fg-stroke-linecap="round"
               data-circles-fg-stroke-miterlimit="10"
               data-circles-radius="80"
               data-circles-stroke-width="8"
               data-circles-additional-text="Marketing Digital"
               data-circles-additional-text-type="prefix"
               data-circles-duration="2000"
               data-circles-scroll-animate="true"
               data-circles-color="#377dff"
               data-circles-font-size="20"
               data-circles-font-weight="500"
               data-circles-secondary-text=""
               data-circles-secondary-color="#77838f"
               data-circles-secondary-font-size="17"
               data-circles-secondary-font-weight="400"
               data-circles-divider-space="10"></div>
          <!-- End Pie Circle -->
        </div>
      </div>

      <div class="col-sm-6 col-lg-2 mb-7 mb-lg-4">
        <div class="u-stats-progress position-relative d-flex align-items-center justify-content-center">
          <!-- Pie Circle -->
          <div class="js-pie text-center"
               data-circles-text-class="u-stats-progress__info"
               data-circles-is-hide-value="true"
               data-circles-value="95"
               data-circles-max-value="100"
               data-circles-bg-color="#f8fafd"
               data-circles-fg-color="#377dff"
               data-circles-fg-stroke-linecap="round"
               data-circles-fg-stroke-miterlimit="10"
               data-circles-radius="80"
               data-circles-stroke-width="8"
               data-circles-additional-text=""
               data-circles-additional-text-type="prefix"
               data-circles-duration="2000"
               data-circles-scroll-animate="true"
               data-circles-color="#377dff"
               data-circles-font-size="20"
               data-circles-font-weight="500"
               data-circles-secondary-text="Coordinación ejecución de campaña"
               data-circles-secondary-color="#377dff"
               data-circles-secondary-font-size="17"
               data-circles-secondary-font-weight="400"
               data-circles-divider-space="10"></div>
          <!-- End Pie Circle -->
        </div>
      </div>

      <div class="col-sm-6 col-lg-2 mb-7 mb-lg-4">
        <div class="u-stats-progress position-relative d-flex align-items-center justify-content-center">
          <!-- Pie Circle -->
          <div class="js-pie text-center"
               data-circles-text-class="u-stats-progress__info"
               data-circles-is-hide-value="true"
               data-circles-value="75"
               data-circles-max-value="100"
               data-circles-bg-color="#f8fafd"
               data-circles-fg-color="#377dff"
               data-circles-fg-stroke-linecap="round"
               data-circles-fg-stroke-miterlimit="10"
               data-circles-radius="80"
               data-circles-stroke-width="8"
               data-circles-additional-text="Fotografía"
               data-circles-additional-text-type="prefix"
               data-circles-duration="2000"
               data-circles-scroll-animate="true"
               data-circles-color="#377dff"
               data-circles-font-size="20"
               data-circles-font-weight="500"
               data-circles-secondary-text=""
               data-circles-secondary-color="#77838f"
               data-circles-secondary-font-size="17"
               data-circles-secondary-font-weight="400"
               data-circles-divider-space="10"></div>
          <!-- End Pie Circle -->
        </div>
      </div>

    </div>
  </div>

  <!-- Testimonials -->
  <div id="SVGirregularShape2Right" class="svg-preloader position-relative gradient-half-info-v1 z-index-2">
    <div class="bg-img-hero-bottom" style="background-image: url(./assets/img/bg2.png);">
      <div class="container space-top-1 space-top-md-2 space-bottom-4">
        <!-- Testimonials -->
        <div class="text-center">
          <div class="mb-4">
            <div class="u-avatar mx-auto mb-3">
              <img class="img-fluid rounded-circle" src="./assets/foto.jpg" alt="Image Description">
            </div>
            <h4 class="h6 text-white">Luisa Hernández.</h4>
          </div>
          <div class="w-md-80 text-center mx-md-auto mb-7">
            <blockquote class="h4 text-white mb-0">
              Profesional en publicidad y mercadeo, diseñadora gráfica y publicitaria con más de 6 años de experiencia
              en conceptualización de campañas publicitarias, gestión y dirección de proyectos, estudio de mercados,
              marketing digital, social media, fotografía y diseño de piezas publicitarias con capacidad de socializar y
              trabajar en equipo, manejo de personas e interés en mi actualización profesional.
            </blockquote>
          </div>
        </div>
        <!-- End Testimonials -->
      </div>

      <!-- SVG Quote -->
      <figure class="w-25 position-absolute top-0 right-0 left-0 ml-11">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
             viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
            <path class="fill-white" opacity=".1" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
              C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
              c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
              C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"/>
          </svg>
      </figure>
      <!-- End SVG Quote -->

      <!-- SVG Shape -->
      <div class="position-absolute top-0 right-0 left-0 z-index-n1">
        <figure class="ie-irregular-shape-2-right">
          <img class="js-svg-injector" src="./assets/svg/components/irregular-shape-2-right.svg" alt="Image Description"
               data-parent="#SVGirregularShape2Right">
        </figure>
      </div>
      <!-- End SVG Shape -->
    </div>
  </div>
  <!-- End Testimonials -->
</main>
<!-- ========== END MAIN CONTENT ========== -->


<!-- Go to Top -->
<a class="js-go-to u-go-to" href="#"
   data-position='{"bottom": 15, "right": 15 }'
   data-type="fixed"
   data-offset-top="400"
   data-compensation="#header"
   data-show-effect="slideInUp"
   data-hide-effect="slideOutDown">
  <span class="fas fa-arrow-up u-go-to__inner"></span>
</a>
<!-- End Go to Top -->

<div class="container">
<p class="text-muted"> V 1.0.2</p>
</div>
